
<launch>
  <param name="base_dir" type="string" value= "/home/atas/kitti_data/2011_09_26/2011_09_26_drive_0052_sync/"/>
  <param name="velodyne_link" type="string" value="velodyne_link" />
  <param name="camera_link" type="string" value="camera_link" />
  <param name="image_dir" type="string" value="image_02/data/" />
  <param name="pcd_file_dir" type="string" value="velodyne_points/data/" />
  <param name="image_file_extension" type="string" value=".png" />
  <param name="pcd_file_extension" type="string" value=".bin" />
  <param name="execution_frequency" type="int" value="1" />
  <param name="number_of_pcd_files" type="int" value="250" />


      <!-- ROS parameters -->
    <!--Point Cloud segmenter-->
    <rosparam command="load" file="$(find kitti_ros)/config/kitti/segmenter.yaml"/>
    <!--Detector-->
    <rosparam command="load" file="$(find kitti_ros)/config/kitti/detection.yaml"/>


  <!-- Run the visualization node -->
  <node pkg="kitti_ros" type="kitti_ros_node" name="kitti_ros_node" output="screen">

  </node>


<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find dbw_mkz_description)/urdf/mkz.urdf.xacro" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Launch rviz for visualization -->
  <node pkg="rviz" type="rviz" name="my_rviz"
args="-d $(find kitti_ros)config/default.rviz"/>


<node pkg="tf" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 map base_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="velodyne_link" args="0 0 1.73 0 0 0 base_link velodyne_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="camera_link" args="0.0 0 1.63 -1.57 0 -1.57  base_link camera_link 100"/>


</launch>
